.titleBar {
  padding: 1rem 8rem;
}

.nav {
  margin: auto;
  padding: 1rem 8rem;
  background: #21272d;
  display: flex;
  justify-content: space-between;
}

.linkSection {
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 50px;
  padding-bottom: 5px;
}

.navItem.active {
  margin-right: 50px;
  border-bottom: solid 2px red;
}

.searchContainer {
  background: #111316;
  border: 1px solid #78838e;
  height: 50px;
  width: 500px;
  padding: 8px;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
}

.searchInput:active, .searchInput:focus {
  outline: none;
}

